<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="components/card/card-module.js"></script>
    <script src="app.js"></script>
</head>

<body>


<div class="container" ng-controller="CardListController as cardList">
    <header>
        <h1>Jon Pool</h1>
        <h2>Project Name</h2>
    </header>

    <div class="row">
        <div class="col-sm-4 col-md-3" ng-repeat="card in cardList.cards">
            <div class="panel">
                <div class="panel-heading">
                    {{card.text}}
                </div>
                <div class="panel-body" ng-repeat="note in card.notes" id="note">
                    <div class="note">
                        {{note.noteText}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer></footer>
</body>

</html>
